# Virtual Environment
.venv/

# PyCharm
.idea/

# Python cache
__pycache__/
*.pyc

# YOLO training runs
runs/

# Weights
*.pt

# Dataset folders


# Cache
*.cache# Virtual Environment
.venv/

# PyCharm
.idea/

# Python cache
__pycache__/
*.pyc

# YOLO training runs


# Weights


# Dataset folders


# Cache
*.cache# Virtual Environment
.venv/

# PyCharm
.idea/

# Python cache
__pycache__/
*.pyc

# YOLO training runs


# Weights


# Dataset folders


# Cache
*.cache

